<!-- Account Management-->
<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
        res.redirect('/')
    } %>

<!-- Message Block -->
<%- messages() %>
<% if (errors) { %>
    <ul class="notice">
   <% errors.array().forEach(error => { %>
     <li><%= error.msg %></li>
  <%  }) %>
   </ul>
  <% } %>

<!-- Account Management View -->
<h2>Welcome <%= locals.accountData.account_firstname %></h2>
<h3>You're Logged In!!</h3>
<a title="Click to Edit Informatioin" href="/account/update/<%= locals.accountData.account_id %>">Edit Account Information</a><br>

<% if (locals.accountData.account_type == "Admin" || locals.accountData.account_type == "Employee") { %>
    <h2>Inventory Management</h2>
    <a title="Click to Manage Inventory" href="/inv">Manage Inventory</a>
<% } %>

